

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #200000 ;
}

li {
  float: left;
}

#p1 {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#p2 {
  display: inline-block;
  color: #E87231;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 5px;
  text-shadow: 3px 2px black;
}
#p3{
  float:right;
  text-align: center;
  padding: 14px 16px;

}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #333;
}
.responsive {
  width: 100%;
  height: auto;
}
.footer {
  position: responsive;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#200000 ;
  color: white;
  text-align: center;
}
table.a {
  table-layout: auto;
  width: 180px;
  margin-left:auto;
    margin-right:auto;
    color: black;
}
#carouselExampleControls{
  width:400px;
  height:400px;
  left:370px;
}

.item{
    background: white;
    text-align: center;
    height: 300px;
    display: inline-block;
}

.carousel{
    margin-top: 20px;
    text-align: center;
}

.bs-example{
	margin: 20px;
}

.carousel.carousel-fade .item {
  opacity:0;
  filter: alpha(opacity=0);
}

.carousel.carousel-fade .active.item {
    opacity:1;
    filter: alpha(opacity=100);
}

